In [7]:
import sqlite3

con = sqlite3.connect("../chinook.db")
cur = con.cursor()

cur.execute("""
SELECT COUNT(AlbumId), ArtistId
FROM albums
GROUP BY ArtistId
""")

albums = cur.fetchall()

for album in albums:
    print(album)

(2, 1)
(2, 2)
(1, 3)
(1, 4)
(1, 5)
(2, 6)
(1, 7)
(3, 8)
(1, 9)
(1, 10)
(2, 11)
(2, 12)
(1, 13)
(1, 14)
(1, 15)
(2, 16)
(1, 17)
(2, 18)
(2, 19)
(1, 20)
(4, 21)
(14, 22)
(1, 23)
(1, 24)
(3, 27)
(1, 36)
(1, 37)
(1, 41)
(2, 42)
(1, 46)
(10, 50)
(3, 51)
(2, 52)
(2, 53)
(2, 54)
(1, 55)
(1, 56)
(1, 57)
(11, 58)
(3, 59)
(3, 68)
(1, 69)
(1, 70)
(1, 72)
(2, 76)
(2, 77)
(1, 78)
(1, 79)
(2, 80)
(2, 81)
(4, 82)
(1, 83)
(4, 84)
(1, 85)
(1, 86)
(1, 87)
(3, 88)
(1, 89)
(21, 90)
(1, 91)
(3, 92)
(1, 93)
(1, 94)
(1, 95)
(1, 96)
(1, 97)
(1, 98)
(2, 99)
(1, 100)
(2, 101)
(1, 102)
(1, 103)
(1, 104)
(1, 105)
(1, 106)
(1, 108)
(1, 109)
(2, 110)
(1, 111)
(1, 112)
(3, 113)
(6, 114)
(1, 115)
(1, 116)
(1, 117)
(5, 118)
(1, 120)
(1, 121)
(1, 122)
(3, 124)
(1, 125)
(1, 126)
(3, 127)
(1, 128)
(2, 130)
(2, 131)
(1, 132)
(1, 133)
(1, 134)
(1, 135)
(1, 136)
(2, 137)
(1, 138)
(2, 139)
(1, 140)
(1, 141)
(3, 142)
(2, 143)
(1, 144)
(2, 145)
(2, 146)
(2, 147)
(1, 148)
(4, 149)
(10, 150)
(1, 151)
(4, 152)
(1, 153)
(1, 155)
(3, 156)
(1, 157)
(1, 158)
(1, 159)
(1, 179)
(1, 180)
(1, 196)
(1, 197)
(1, 198)
(1, 199)
(1, 200)
(1, 201)
(1, 202)
(1, 203)
(1, 204)
(1, 205)
(1, 206)
(1, 207)
(2, 208)
(1, 209)
(1, 210)
(1, 211)
(1, 212)
(1, 213)
(1, 214)
(1, 215)
(1, 216)
(1, 217)
(1, 218)
(1, 219)
(1, 220)
(1, 221)
(1, 222)
(1, 223)
(1, 224)
(1, 225)
(3, 226)
(1, 227)
(1, 228)
(1, 229)
(1, 230)
(1, 231)
(1, 232)
(1, 233)
(1, 234)
(1, 235)
(1, 236)
(1, 237)
(1, 238)
(1, 240)
(1, 241)
(1, 242)
(1, 243)
(1, 244)
(2, 245)
(1, 246)
(1, 247)
(3, 248)
(1, 249)
(1, 250)
(1, 251)
(2, 252)
(1, 253)
(1, 254)
(1, 255)
(1, 256)
(1, 257)
(1, 258)
(1, 259)
(1, 260)
(1, 261)
(1, 262)
(1, 263)
(1, 264)
(1, 265)
(1, 266)
(1, 267)
(1, 268)
(1, 269)
(1, 270)
(1, 271)
(1, 272)
(1, 273)
(1, 274)
(1, 275)